name: Build for Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x64

    - name: Compile with Make
      run: mingw32-make

    - name: Upload Executable
      uses: actions/upload-artifact@v4
      with:
        name: connect4-windows-exe
        path: connect4.exe
